* {
    border: none;
    border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font" ;
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#custom-toggle-osk {
    font-size: 24px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #282a36;
    background: #8be9fd;
}

#custom-killactive {
    font-size: 24px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 12px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #282a36;
    background: #ff5555;
}

#custom-togglesplit {
    font-size: 20px;
    padding-left: 6px;
    padding-right: 12px;
    margin: 6px 8px 0;
    border-radius: 10px 10px 0 0;
    transition: none;
    color: #282a36;
    background: #ff79c6;
}

#custom-resize-vert-bigger,
#custom-resize-vert-smaller,
#custom-resize-horiz-bigger {
    font-size: 28px;
    margin: 0 8px 0;
    padding-top: 0;
    padding-left: 9px;
    padding-right: 12px;
    border-radius: 0;
    transition: none;
    color: #282a36;
    background: #ff79c6;
}

#custom-resize-horiz-smaller {
    font-size: 28px;
    padding-left: 9px;
    padding-right: 12px;
    margin: 0 8px 6px;
    border-radius: 0 0 10px 10px;
    transition: none;
    color: #282a36;
    background: #ff79c6;
}