* {
    border: none;
    border-radius: 7px;
    font-family: "JetbrainsMono Nerd Font", serif ;
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    transition: none;
    color: transparent;
    background: transparent;
}
#workspaces {
    margin-top: 6px;
    margin-left: 5px;
    font-size: 4px;
    margin-bottom: 0;
    border-radius: 7px;
    background-color: #282a36;
    transition: none;
}

#workspaces button {
    color: #44475a;
    background: transparent;
}

#workspaces button:hover {
    color: #8be9fd;
}

#workspaces button.active {
    color: #bd93f9;
}

#workspaces button.urgent {
    color: #ff5555;
}

#network {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #ffb86c;
}

#pulseaudio {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #1A1826;
    background: #f1fa8c;
}

#battery {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #ff79c6;
}

#battery.charging, #battery.plugged {
    color: #282a36;
    background-color: #69beee;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #282a36;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}
#bluetooth {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #8be9fd;
}
#backlight {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #bd93f9;
}
#custom-backlight-minus {
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 5px;
}
#custom-backlight-plus {
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
#clock {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #6272a4;
    /*background: #1A1826;*/
}

#memory {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0;
    padding-right: 10px;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #DDB6F2;
}
#cpu {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0;
    padding-right: 10px;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #96CDFB;
}

#tray {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0;
    padding-right: 10px;
    border-radius: 7px;
    transition: none;
    color: #B5E8E0;
    background: #282a36;
}

#custom-launcher {
    font-size: 24px;
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 7px;
    transition: none;
    color: #89DCEB;
    background: #282a36;
}

#custom-exit {
    font-size: 20px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #ff5555;
}

#custom-toggle-leftbar {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 15px;
    margin: 6px 5px 0 8px;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #f8f8f2;
}

#custom-cliphist {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 16px;
    margin: 6px 0 0 8px;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #50fa7b;
}

#custom-wallpaper {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #C9CBFF;
}

#custom-updates {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #E8A2AF;
}

#custom-media {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border-radius: 7px;
    transition: none;
    color: #282a36;
    background: #F2CDCD;
}